@import url('https://fonts.googleapis.com/css?family=Rubik|Source+Sans+Pro&display=swap');

html * {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}

.hero__image, img {
    max-height: 70vh;
    max-width: 50vw;
}

.hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.hero__image {
    height: 100%;
}

.hero__header h3 {
    font-size: 2em;
}

.hero__header p {
    font-size: 1.2em;
}

  .alert {
    padding: 5px;
}

.checkbox, input {
    margin-right: 5px;
}

.list-inline {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    text-transform: uppercase;
}

.footer__logo {
    height: 60px;
    width: 60px;
    padding: 5px;
    background: white;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #292b2c;
    padding: 1em 0;
}

aside {
    background: #292b2c;
    color: white;
    padding: 1em 0;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }

    .hero__header {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3 {
            text-align: center;
        }

        p {
            align-self: center;
            width: 80%;
        }
    }

    .hero__image, img{
        max-width: 80vw;
    }
}
